* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 100%;
    background-image: url("img/background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
